<h1>Order dishes</h1>
<form action="/restaurants/{{restaurant_id}}/dishes" method="post">

    <input type="text" name="dish_id" placeholder="Dish Id">
    <input type="number" name="quantity" placeholder="Dish Quantity">

    <button>Order</button>
</form>

<div>
    {% for dish in dishes %}

        <div>
            <hr>
            <h3>Name: {{ dish.name }}</h3>
            <h3>Id: {{ dish.id }}</h3>
            <p>Price: {{ dish.price }}</p>
            <p>Available: {{ dish.is_active }}</p>
        </div>

    {% endfor %}
     <hr>
</div>